.MetricLayout {
    --header-height: 1.25rem;
    --compact-metric-card-height: 2.625rem;
    --flex-gap: var(--p-space-400);
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: var(--p-space-100);
}
.Header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: var(--header-height);
    width: 100%;
}
.Title {
    flex-grow: 1;
    min-width: 0;

    &.HasPrimaryAction {
        margin-right: var(--p-space-600);
    }
}

.WrappedContent {
    border-bottom: 0.125rem dotted var(--p-color-border-tertiary);
    border-color: var(--p-color-border-tertiary);
}

.Button {
    text-align: left;
    margin-left: calc(var(--p-space-100) * -1);
    padding: 0 var(--p-space-100);
    border-radius: var(--p-border-radius-100);
    border: var(--p-border-width-025) solid transparent;
    cursor: default;
    background: transparent;
    color: unset;

    &.Inline {
        padding: 0;
        margin-left: 0;
    }
}

.PrimaryAction {
    position: absolute;
    top: 0;
    right: 0;
}

.Content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--flex-gap);
    flex-grow: 1;
    min-height: 0;
}

.FlexWrapper {
    width: 100%;
    display: flex;
    gap: var(--p-space-200);
    align-items: center;
}

.PrimaryMetric {
    font-size: var(--p-font-size-500);
    font-weight: var(--p-font-weight-semibold);
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PrimaryMetric.Disabled {
    color: var(--p-color-text-disabled);
}
.PrimaryMetric.Compact {
    font-size: var(--p-font-size-350);
}

.PrimaryMetricWrapper {
    min-width: 0;
}
