.Footer {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.PrimaryMetric {
    font-size: var(--p-font-size-500);
    font-weight: var(--p-font-weight-semibold);
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PrimaryMetric.Disabled {
    color: var(--p-color-text-disabled);
}
.PrimaryMetric.Compact {
    font-size: var(--p-font-size-350);
}
.FlexWrapper {
    width: 100%;
    display: flex;
    gap: var(--p-space-200);
    align-items: center;
}
.PrimaryMetricWrapper {
    min-width: 0;
}
.BenchmarksDataContainer {
    border-radius: var(--p-border-radius-100);
    padding: var(--p-space-100) var(--p-space-150);
}
.BenchmarksDataContainer:hover,
.BenchmarksDataContainer:active {
    background: var(--p-color-bg-surface-hover);
    cursor: pointer;
}
.Title.Disabled {
    color: var(--p-color-text-disabled);
}
.Title h2 {
    line-height: 1.5;
}
.Button {
    max-width: 100%;
    cursor: pointer;
}
.Button:hover,
.Button:active {
    background-color: transparent;
}
.Message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.ScrollableContainerWrapper {
    height: 100%;
    margin-top: calc(var(--p-space-200) * -1);
}
.ScrollableContainer {
    height: 100%;
    padding-right: var(--p-space-100);
}
